
.msd-main-menu{
    .list{
    .list-header{
        loat: right;
        width: 100%;
        text-align: right;    }
    .list-item{
        direction: rtl;
        .ons-icon{
            margin-right: 10px;
            margin-left: 10px;
        }
        .notifications {
            width: auto;
            
        }
        span{
            
            width:80%;
            text-align: right;
          
        }
      
    }
}
}
