.InstaCard {

    direction: rtl;
    // width: 80%;
    max-width: 500px;
    width: 80%;
    height: 500px;

    align-content: center;
    background-color: white;
    border-radius: 10px;
    /* margin: 20px; */
    // max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    .header {
        padding: 10px;
        .UserAvatar{
            display: inline;
            span {
                padding-right: 0.5em;
            }
        }
        .top-menu {
            float: left;
        }
    }
    .insta-images{
        direction: ltr;
        height: 300px;
         .ons-swiper{
             height: 300px;

            .image-content{
                text-align: center;
                width:100%;
                img{
                        height: 300px;
                }
            }
         }
        // .image-content{
            
        //     max-height: 300px;
        //     text-align: center;
        //     img{
        //         max-height: 300px;
        //     }
        // }

    }
    .title_desc {

        h5{
            font-size: medium;

        }
        p{
            font-size: small;
            margin: 10px;
        }
        .actions {
            display: inline;
            float: left;
            .ons-icon{
                margin: 5px;
            }
        }
    }
}