.footer-buttons{
    position: fixed;
    bottom: 0px;
    background: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    direction: rtl;

    .button {
        margin: 10px;
        padding-right: 29px;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
}