.error {
    input {
        color: red;
    }
    span {
        color: red;
    }
}

.validable-input{
    margin: 10px;
    display: block;

    .text-input__label{
        right: 0px;
        left: auto;
    
    }
   }