.comments_page{
    .leave_comment {
        position: fixed;
        bottom: 0px;
        width: 100%;
        direction: rtl;
    .fa-paper-plane{

    font-size: xx-large;
    padding-top: 5px;
    bottom: 0px;

    }
        ons-input{
            width: 85%;
            }
            .UserAvatar {
                margin: 6px;
            }
            .text-input{

    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    vertical-align: middle;

            }
    }
    
}